[Unit]
Description=Resource management daemon
After=tizen-system.target
Wants=tizen-system.target

[Service]
Type=notify
EnvironmentFile=/run/tizen-mobile-env
ExecStart=/usr/bin/resourced
Restart=on-failure
RestartSec=0

[Install]
WantedBy=multi-user.target
